@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div id="tableFooter" class="col-lg-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Kategori</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-condensed mb-4">

                                    <thead>
                                        <tr>
                                            <th>Kategori ID</th>
                                            <th>Kategori Ad</th>
                                            <th>Güncelle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            <tr>
                                                <td>@x.kategoriID</td>
                                                <td>@x.kategoriAd</td>
                                                <td><a href="/Kategori/KategoriGetir/@x.kategoriID" class="btn btn-warning mb-2 mr-2 btn-rounded">Güncelle<svg> ... </svg></a></td>
                                                <td><a href="/Kategori/KategoriSil/@x.kategoriID" class="btn btn-danger mb-2 mr-2 btn-rounded">Sil<svg> ... </svg></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <a href="/Kategori/KategoriEkle" class="btn btn-info mb-2 mr-2 btn-rounded">Yeni Ekle<svg> ... </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>