
@{
    ViewBag.Title = "CariEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-lg-12 col-12  layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Yeni Cari Ekleme Sayfası</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area">
                            <form method="post">
                                <div class="form-group mb-4">
                                    <label>Cari AD</label>
                                    <input type="text" class="form-control" name="cariAd" placeholder="Cari Ad">
                                </div>
                                <div class="form-group mb-4">
                                    <label>Cari Soyad</label>
                                    <input type="text" class="form-control" name="cariSoyad" placeholder="Cari Soyad">
                                </div>
                                <div class="form-group mb-4">
                                    <label>Cari Şehir</label>
                                    <input type="text" class="form-control" name="cariSehir" placeholder="Cari Şehir">
                                </div>
                                <div class="form-group mb-4">
                                    <label>Cari Mail</label>
                                    <input type="text" class="form-control" name="cariMail" placeholder="Cari Mail">
                                </div>
                                <button class="btn btn-primary"> Kaydet</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
